// color
$normal_gradient: linear-gradient(#4570b6, #81dbec);
$active_gradient: linear-gradient(#81dbec, #4570b6);

$blue_1:#4570B6;
$blue_2:#F3FCFE;                                                                                              