@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather-Bold.woff2') format('woff2'),
        url('../fonts/Merriweather-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Orbitron';
    src: url(../fonts/Orbitron.woff2) format('woff2');
}

@font-face {
    font-family: 'ITCAvantGardeProBold';
    src: url('../fonts/ITCAvantGardePro-Bold.woff') format('woff'); 
    font-weight: bold;
    font-style: normal;
}